@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@font-face {
  font-family: Flutterwave;
  font-weight: 400;
  src: local("Flutterwave"), url("~@/assets/fonts/fw-400.ttf") format("truetype");
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Flutterwave;
  font-weight: 700;
  font-style: normal;
  src: local("Flutterwave"), url("~@/assets/fonts/fw-700.ttf") format("truetype");
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Flutterwave;
  font-weight: 900;
  src: local("Flutterwave"), url("~@/assets/fonts/fw-900.ttf") format("truetype");
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: Flutterwave;
  font-style: italic;
  src: local("Flutterwave"), url("~@/assets/fonts/fw-italics.ttf") format("truetype");
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("~@/assets/fonts/SF.otf");
}
